[Unit]
Description=X1202X UPS Daemon
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=notify
WatchdogSec=120s
# NotifyAccess=main
ExecStart=/usr/local/bin/x120x_upsd.py
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target